<form action="/add" method="POST">
    <p>Cadastro de usuarios</p>
    <input type="text" name="nome" placeholder="Digite seu Nome:">
    <input type="text" name="sobrenome" placeholder="Digite o seu Sobrenome:">
    <input type="nuumber" name="idade" placeholder="Digite a sua Idade:">
    <input type="text" name="email" placeholder="Digite o seu Email:">
    <input type="text" name="cidade" placeholder="Digite a sua Cidade:">
    <button type="submit">Cadastrar usuario</button>
</form>